<%# Project name: MusicalStudentsGroup
 Description: Lets school administrators use a platform to contact donators for instruments,
 Setup a systematic way for students to receive lessons, and for students to form their own
 student music groups.
 Filename: show.html.erb
 Description: Renders titles, info, form, and buttons to request lesson 
 NOTE: This was originally part of of what was generated from the scaffold framework, 
 but I made edits to the styling and functionality myself.
 Last modified on: 4-26-2020 %>

<style>
p {
  text-align: center;
}

button {
    display: block;
    margin: auto;
    text-align: center;
}

body {
  background-color: #F3B47D;
}
</style>
<body>

<%-# info about request generated at top of screen, and other info -%>
<h1>Request to take a Lesson</h1>
<br>
<p>Below is the information also listed on the lesson listings page. Please use <b><%= @lesson.email %></b> to contact <b><%= @lesson.name %></b>.</p>

<p>
  <strong>Name:</strong><br>
  <%= @lesson.name %>
</p>

<p>
  <strong>Experience:</strong><br>
  <%= @lesson.experience %>
</p>

<p>
  <strong>Instrument:</strong><br>
  <%= @lesson.instrument %>
</p>

<p>
  <strong>Location:</strong><br>
  <%= @lesson.location %>
</p>

<p>
  <strong>Availability:</strong><br>
  <%= @lesson.availability %>
</p>

<p>
  <strong>Email:</strong><br>
  <%= @lesson.email %>
</p>

<br>
<button><%= link_to 'Back', lessons_path %></button>
</body>