<!DOCTYPE html>
<html>
  <head>
    <title>MusicalStudentsGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <p><%= link_to 'Home', pages_home_path %></p>
      <p><%= link_to 'Donations', pages_instruments_path %></p>
      <p><%= link_to 'Lessons', pages_lessons_path %></p>
      <p><%= link_to 'Student Groups', pages_formaGroup_path %></p>
    </div>
    <%= yield %>
  </body>
</html>
